
.ember-logo {
  @include margin(null auto);
  display: block;
  margin-bottom: em(32);
  width: em(256);
}

.next-meetup {
  @include clearfix;
  background-color: white;
  border-bottom-left-radius: $base-border-radius;
  border-bottom-right-radius: $base-border-radius;
  border: $base-border;
  box-shadow: $base-box-shadow;
  padding: 2em;
  position: relative;

  @include media($medium-screen-up) {
    margin-bottom: 2em;
    padding: 4em;
  }

  @include media($large-screen-up) {
    margin-bottom: 12em;
  }

  &:before {
    @include position(absolute, -5px 0 null 0);
    background-color: $base-accent-color;
    border: 1px solid darken($base-accent-color, 10%);
    box-shadow: $base-box-shadow;
    content: "";
    display: block;
    height: 8px;

    @include media($medium-screen-up) {
      left: -5px;
      right: -5px;
    }
  }

  p {
    color: $light-font-color;
    font-size: em(18);
    margin-bottom: 1em;
  }
}

.next-meetup-location {
  font-size: em(15);
  font-weight: 800;
  text-transform: uppercase;
}

.rsvp {
  margin-top: 2em;

  @include media($medium-screen-up) {
    margin-top: 6em;
  }
}

.sponsors {
  @include clearfix;

  @include media($medium-screen-up) {
    border-top: $base-border;
  }

  @include media($large-screen-up) {
    background-color: rgba(white, 0.8);
  }

  .wrapper {
    padding-top: 0;
  }

  .sponsor {
    @include align-items(center);
    @include display(flex);
    @include transition(opacity 0.15s ease-in);
    opacity: 0.75;
    padding: em(60) em(20);

    &:not(:first-child) {
      border-top: $base-border;
    }

    @include media($medium-screen-up) {
      float: left;
      width: 50%;

      &:not(:first-child) {
        border-top: none;
        border-left: $base-border;
      }
    }

    &:hover {
      opacity: 1;
    }
  }

  img {
    margin-right: 1em;
    max-width: em(48);
    width: 100%;
  }

  p {
    color: $light-font-color;
    font-style: italic;
    margin-bottom: 0;
  }
}
