body {
  background: image-url("ember-bg.svg") #faf4f1 top center no-repeat;
  background-size: cover;
}

.wrapper {
  @include outer-container;
  @include padding(em(112) em(8) null em(8));
  max-width: em(736);
}

