<%= link_to "Submit Talk", "/proposal", class: "nav-link" %>

<%= image_tag "ember-logo.png", title: "Ember.JS logo", class: "ember-logo" %>

<h1>The Triangle's Ember.JS Meetup</h1>
<h2>Monthly talks about Ember.JS, for beginners and experts</h2>
