<section class="box js-scheduled" data-role="event">
  <h3 data-role="date">event date</h3>
  <span data-role="time">event time</span>
  <span>at</span>
  <a class="next-meetup-location" href="#" data-role="venue-name">Venue Name</a>

  <hr>

  <h4 data-role="name">Event title</h4>

  <div data-role="description">Event Description</div>

  <a class="button rsvp" href="#" data-role="rsvp-link">RSVP on Meetup</a>
</section>
