<section class="box js-unscheduled">
  <h4>We're still planning the next meetup</h4>
  <p>
    Our next event isn't scheduled yet.
    <a href="http://www.meetup.com/Triangle-Ember/">Join the Meetup group</a>
    to get notified.
  </p>
</section>
