<section class="sponsors">
  <div class="wrapper">
    <a href="http://thoughtbot.com" class="sponsor">
      <%= image_tag "ralph.png", title: "thoughtbot" %>
      <p>Hosting, programming, and website design by thoughtbot.</p>
    </a>

    <a href="http://rallydev.com" class="sponsor">
      <%= image_tag "rally-logo.png", title: "Rally Software" %>
      <p>Event space, beer and pizza provided by Rally Software.</p>
    </a>
  </div>
</section>
