---
title: Triangle Ember
---

<%= image_tag "ember-logo.png", title: "Ember.JS logo" %>

<h1>The Triangle's Ember.JS Meetup</h1>

<p>
  Etiam id ligula quis erat dapibus iaculis a sed risus. Nullam sollicitudin
  enim et ipsum egestas commodo. Morbi non dolor nec urna aliquet consequat a
  eget enim. Curabitur a neque id nibh pretium posuere. Ut consectetur, lectus
  eu vehicula lacinia.
</p>

<p>
  Vestibulum convallis eu metus sed ultricies. Morbi congue dolor velit, at
  posuere lacus elementum semper. Vivamus orci lectus, suscipit eu elit sit
  amet, pulvinar laoreet magna. Phasellus placerat egestas orci, eu convallis
  lorem malesuada ac.
</p>

<section class="next-meetup">
  <time>
    November 18
    <span class="separator">&bull;</span>
    06:30 PM
  </time>

  <a class="next-meetup-location" href="#">Rally Software</a>

  <hr>

  <h2>Deploying Your Ember App</h2>

  <p>
    Anthony Ross will be giving us a tour through how his company is currently
    deploying. The presentation will be short and we'll allow plenty of time for
    everyone else to talk about their own strategies so bring your laptops and
    code!
  </p>

  <p>
    Rally Software (https://www.rallydev.com/) has offered to let us use their
    space in downtown Raleigh for the meetup.
  </p>

  <p>
    Please park in visitors lot ON Haynes Street (across the street from the
    building).
  </p>

  <p>
    Rally will have blue tape on the ground guiding people to their classroom
    space.
  </p>

  <p>
    *Note: you will not be able to enter through any other door considering the
    event is after hours. Therefore parking in the right lot is essential to
    finding the only door open for entry.
  </p>

  <a class="rsvp" href="#">RSVP on Meetup</a>
</section>

<h3>Sponsors</h3>

<a href="http://thoughtbot.com">
  <%= image_tag "thoughtbot-logo.png", title: "thoughtbot" %>
</a>

<a href="http://rallydev.com">
  <%= image_tag "rally-logo.png", title: "Raleigh Software" %>
</a>
