---
title: Triangle Ember
---

<div class="wrapper">
  <%= link_to "Submit Talk", "/proposal", class: "nav-link" %>

  <%= image_tag "ember-logo.png", title: "Ember.JS logo", class: "ember-logo" %>

  <h1>The Triangle's Ember.JS Meetup</h1>
  <h2>Monthly talks about Ember.JS, for beginners and experts</h2>

  <section class="next-meetup">
    <h3>November 18</h3>
    <span>06:30 PM at</span>
    <a class="next-meetup-location" href="#">Rally Software</a>

    <hr>

    <h4>Deploying Your Ember App</h4>

    <p>
      Anthony Ross will be giving us a tour through how his company is currently
      deploying. The presentation will be short and we'll allow plenty of time
      for everyone else to talk about their own strategies so bring your laptops
      and code!
    </p>

    <p>
      Rally Software (https://www.rallydev.com/) has offered to let us use their
      space in downtown Raleigh for the meetup.
    </p>

    <p>
      Please park in visitors lot ON Haynes Street (across the street from the
      building).
    </p>

    <p>
      Rally will have blue tape on the ground guiding people to their classroom
      space.
    </p>

    <p>
      *Note: you will not be able to enter through any other door considering
      the event is after hours. Therefore parking in the right lot is essential
      to finding the only door open for entry.
    </p>

    <a class="button rsvp" href="#">RSVP on Meetup</a>
  </section>
</div>

<section class="sponsors">
  <div class="wrapper">
    <a href="http://thoughtbot.com" class="sponsor">
      <%= image_tag "ralph.png", title: "thoughtbot" %>
      <p>Hosting, programming, and website design by thoughtbot.</p>
    </a>

    <a href="http://rallydev.com" class="sponsor">
      <%= image_tag "rally-logo.png", title: "Rally Software" %>
      <p>Event space, beer and pizza provided by Rally Software.</p>
    </a>
  </div>
</section>
